@model RelaxingKoala.Models.ViewModels.MenuViewModel
@using RelaxingKoala.Models.Users
@{
    var user = Model.User;
}
<h2>Menu</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Availability</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <h3>No Dishes to display</h3>
        }
        else
        {
            @foreach (MenuItem menuitem in Model.MenuItems)
            {
                <tr>
                    <td>@menuitem.Id</td>
                    <td>@menuitem.Name</td>
                    <td>@menuitem.Cost</td>
                    <td>
                        @* Provide operations on menuitems for staff *@
                        @if (user != null)
                        {
                            switch (user.Role)
                            {
                                case UserRole.Customer:
                                    @menuitem.Availability
                                    break;
                                case UserRole.Staff:
                                    <select name="select-availability" id="@menuitem.Id" onchange="handleMenuItemAvailability(@menuitem.Id, this)">
                                        @if (menuitem.Availability)
                                        {
                                            <option value="1" selected="selected"><a>Available</a></option>
                                            <option value="0"><a>Unavailable</a></option>
                                        }
                                        else
                                        {
                                            <option value="1"><a>Available</a></option>
                                            <option value="0" selected="selected"><a>Unavailable</a></option>
                                        }
                                    </select>
                                    break;
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // MenuItem Availability
        function handleMenuItemAvailability(menuitemId, selectedElement) {
            const value = selectedElement.value;
            console.log(menuitemId);
            let available;
            if (value == "1") {
                available = 1;
            } else if (value == "0") {
                available = 0;
            }

            console.log(available);
            $.ajax({
                url: `/Kitchen/EditMenuItem`,
                type: 'POST',
                data: {
                    id: menuitemId,
                    availability: available
                },
                success: function (response) {
                    alert('Update successful');
                },
                error: function () {
                    alert('Update unsuccessful');
                }
            });
        }
    </script>
}
