@model RelaxingKoala.Models.Orders.OrderViewModel

@{
    ViewBag.Title = "Create Order";
}

<h2>Create Order</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="UserId" class="control-label"></label>
        <select asp-for="UserId" class="form-control" id="userIdSelect"></select>
    </div>
    <div class="form-group">
        <label>Order Type</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="OrderTypeId" value="2" id="orderTypeDineIn">
            <label class="form-check-label" for="orderTypeDineIn">Dine-In</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="OrderTypeId" value="1" id="orderTypeTakeAway">
            <label class="form-check-label" for="orderTypeTakeAway">Takeaway</label>
        </div>
    </div>
    @* Hidden input to hardcode OrderState to Confirmed *@
    <input type="hidden" asp-for="OrderStateId" value="1" /> @* Assuming 1 is the ID for Confirmed *@

    <div class="form-group">
        <label>Menu Items</label>
        <div>
            @foreach (var menuItem in ViewBag.MenuItems)
            {
                <div class="form-check">
                    <input class="form-check-input menu-item-checkbox" type="checkbox" value="@menuItem.Value" data-cost="@menuItem.Cost" name="MenuItems" id="menuItem_@menuItem.Value">
                    <label class="form-check-label" for="menuItem_@menuItem.Value">
                        @menuItem.Text (@menuItem.Cost $)
                    </label>
                </div>
            }
        </div>
    </div>
    <div class="form-group" id="tablesSection" style="display: none;">
        <label>Available Tables</label>
        <div>
            @foreach (var table in ViewBag.Tables)
            {
                <div class="form-check">
                    <input class="form-check-input table-checkbox" type="checkbox" value="@table.Id" name="Tables" id="table_@table.Id">
                    <label class="form-check-label" for="table_@table.Id">
                        Table @table.Number
                    </label>
                </div>
            }
        </div>
    </div>
    <div class="form-group">
        <label>Total Cost: </label>
        <span id="total-cost">@Model.Cost</span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Set UserId dropdown to hardcoded value
            var hardcodedUserId = "d840d48c-91b8-4a69-97b9-1b90a8ab3acf";
            $('#userIdSelect').html('<option value="' + hardcodedUserId + '">' + hardcodedUserId + '</option>').val(hardcodedUserId);

            $('input[name="OrderTypeId"]').change(function () {
                var selectedOrderType = $('input[name="OrderTypeId"]:checked').val();
                var dineInOrderType = "2"; // Ensure this matches the DineIn enum value
                if (selectedOrderType == dineInOrderType) {
                    $('#tablesSection').show();
                } else {
                    $('#tablesSection').hide();
                }
            });

            $('.menu-item-checkbox').change(function () {
                var totalCost = 0;
                $('.menu-item-checkbox:checked').each(function () {
                    totalCost += parseFloat($(this).data('cost'));
                });
                $('#total-cost').text(totalCost);
            });
        });
    </script>
}
