@model IEnumerable<RelaxingKoala.Models.Reservation>

<h2>Manage Reservations</h2>

<table class="table">
    <thead>
        <tr>
            <th>Created Date</th>
            <th>Reserved Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Number of People</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.CreatedDate</td>
                <td>@reservation.ReservedDate</td>
                <td>@reservation.StartTime</td>
                <td>@reservation.EndTime</td>
                <td>@reservation.NumberOfPeople</td>
                <td>@reservation.User.FirstName @reservation.User.LastName</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = reservation.Id })">Edit</a> |
                    <a href="@Url.Action("Delete", new { id = reservation.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")">Make a Reservation</a>
