@using RelaxingKoala.Models
@{
    ViewData["Title"] = "Confirmed Orders";
}

<h1>Upcoming Orders</h1>

@* View Upcoming Orders *@
<h2>Orders</h2>
@* <table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
        </tr>
    </thead>
    <tbody>
        <tr class="order-row" data-order-id="">
            <td>1</td>
            <td>Jared</td>
        </tr>
        <tr class="dish-row" style="display: none;">
            <td colspan="2">
                <ul>
                    <li>Pork</li>
                    <li>Pork</li>
                    <li>Pork</li>
                    <li>Pork</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table> *@

@* View Menu Items *@
<h2>Menu Item</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Availability</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (MenuItem menuitem in ViewBag.MenuItems)
        {
            <tr>
                <td>@menuitem.Name</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="availabilityDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @if (menuitem.Availability)
                            {
                                <p>Available</p>
                            } else
                            {
                                <p>Unavailable</p>
                            }
                        </button>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="availabilityDropdown">
                        <a asp-action="EditMenuItem" asp-route-id="@menuitem.Id" asp-route-availability="true" class="dropdown-item" href="#">Available</a>
                        <a asp-action="EditMenuItem" asp-route-id="@menuitem.Id" asp-route-availability="false" class="dropdown-item" href="#">Unavailable</a>
                    </div>  
                    <a asp-action="Availability" asp-route-id="@menuitem.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@menuitem.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>